body {
  background-color: #ffecc7;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #696969;

}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 5em;
  margin-top: 50px auto 0 auto;
  color: #85a392;
  }

h2 {

  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin: 0 auto 0 auto;
  color: #85a392;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #708090;
  font-size: 1rem;

}
P {
  line-height: 1.5;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #708090;
  border-width: 5px;
  width: 5%;
  margin: 100px auto;
}

a:hover {
  color: white;

}
}
.top-container {
 position: relative;


}
.middle-container {
position: relative;
margin-left: auto;
padding-top: 50px;
padding-bottom: 50px;

}

.bottom-container {
  background-color: #85a392;
  padding: 50px 0 20px;


}

.top-cloud {
  width: 20%;
  position: absolute;
  right: 100px;
  top: 10px;
}
.mountain {
  width: 60%;
  position: relative;
  margin-bottom: auto;

}
.bottom-cloud {
  width: 20%;
  position: absolute;
  left: 100px;
  top: 200px;
}
.profile {
  width: 50%;
  margin: 10px auto;
}
.profile-picture {
  width: 20%;
  padding-bottom: 20px;
}

.skill-row {
  width: 60%;
  margin: auto;
  margin-top: 100px auto;
  padding-top: 100px;
  text-align: left;
  }

.baking {
  width: 30%;
  float: left;
  margin-right: 20px;

}
.decorating {
  width: 30%;
  float: right;
  margin-left: 20px;
}


.footer-link {
  color: #b3ebcb;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  margin: 50px 30px;
  text-decoration: none;

}
.footer-link: hover {
  color: white;

}

.contact-me {

  padding-top: 50px;
  padding-bottom: 20px;

}

.btn {
	-moz-box-shadow:inset 0px 0px 14px -3px #f2fadc;
	-webkit-box-shadow:inset 0px 0px 14px -3px #f2fadc;
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #619c7a), color-stop(1, #6a7860) );
	background:-moz-linear-gradient( center top, #619c7a 5%, #6a7860 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#619c7a', endColorstr='#6a7860');
	background-color:#619c7a;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	border:1px solid #758c62;
	display:inline-block;
	color:#fafcf9;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #ced9bf;
}.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6a7860), color-stop(1, #619c7a) );
	background:-moz-linear-gradient( center top, #6a7860 5%, #619c7a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6a7860', endColorstr='#619c7a');
	background-color:#6a7860;
}.btn:active {
	position:relative;
	top:1px;
}

.copyright {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  padding-top: 20px;

}
